h1{
    color: blue;
}

h2{
    color: white;
}

.purple {
    color: purple;
}

#red {
    color: red;
}

.box {
    background-color: green;
    height: 100px; 
    width: 100px;
    padding: 20px;
    margin: 50px;
    border: 10px solid black;

}

.topnav-right {
    float: right;
    padding: 14px 16px 20px 20px; 
    margin-right: 20px;
   
}

.featured-in {
    padding: 250px 20px 20px 20px; 
}



  .div-three {
      padding: 200px 20px 20px 20px;
     
  }

  h1{
      color: white;
  }

  
    
   

 
  
 